<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mycompany.overtest"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk 
        android:minSdkVersion="11"
        android:targetSdkVersion="11" />

	<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_TASKS" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:label="@string/app_name"
            android:name=".MainActivity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
			android:label="@string/app_name"
			android:name=".Draw" >
        </activity>

		<activity
			android:label="@string/app_name"
			android:name=".ListEditor" >
        </activity>
		
		<activity
			android:label="@string/app_name"
			android:name=".Show" >
        </activity>
    
    <activity
			android:label="@string/app_name"
			android:name=".Step" >
        </activity>
		
		<service
            android:name="GlobalTouchService" >
        </service>
	</application>

</manifest>
